In [ ]:
#Q=1 What is List? How will you reverse a list? 

Using the reversed() method and reverse() method, we can reverse the contents of the list object in place i.e.,
we don’t need to create a new list instead we just copy the existing elements to the original list in reverse order.
This method directly modifies the original list.

In [ ]:
#Q=2 How will you remove last object from a list?
 
    pop() function. The simplest approach is to use the list's pop([i]) function, 
    which removes an element present at the specified position in the list.
    If we don't specify any index, pop() removes and returns the last element in the list.

In [ ]:
#Q=3 Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]? 
 list1 in the last value 25 is [-1]

In [ ]:
#Q=4 Differentiate between append () and extend () methods? 
    append(): last ma value add kare.1 j item add kari sakai
    extend():1 karta vadhre value (multipal value add)kari sakai.

In [ ]:
#Q=5 Write a Python function to get the largest number, smallest num and sum of all from a list. 
l1=[1,56,23,98,100,32]
l2=[1,56,23,98,100,32]
print(min(l1))
print(max(l1))
#sm=sum(l1)

l1
l1

In [ ]:
#Q=6 How will you compare two lists? 
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[1,2,3,4,5,6,7,8,9,10]
l1==l2

In [ ]:
#Q=7 Write a Python program to count the number of strings where the string
#length is 2 or more and the first and last character are same from a given
#list of strings. 

# l1=['krupali','sonal','rushikesh','krupali','kishorbahi']
# print (len(l1))
# l1.count('krupali')

mainlist = ['jay','kothari','aba','jaj','ii','i']
cnt = 0
for _ in mainlist:
    if len(_) >= 2 and _[0] == _[-1]:
        cnt = cnt + 1
        
print(cnt)

In [ ]:
#Q=8  Write a Python program to remove duplicates from a list.
l1=[1,2,3,1,2,3,4]
#print('duplicate value:',l1)
print(list(set(l1)))

In [ ]:
#Q=9 Write a Python program to check a list is empty or not. 
l1=[3,4,2,5,7,8,9]

if len(l1)>=0:
    print('empty')
else:
    print('not empty')

In [ ]:
#Q=10 Write a Python function that takes two lists and returns true if they have at least one common member. 

l1=[1,2,3,4]
l2=[6,7,8,9]
flag = 0
for i in l1:
    for j in l2:
        if i==j:
            flage = 1
            break
if flag==1:
    print('true')
else:
    print('flase')

In [ ]:
#Q=11 Write a Python program to generate and print a list of first and last 5
#     elements where the values are square of numbers between 1 and 30. 

lst = [ ]
for i in range(1,6):
    lst += [ i**2 ]
    
for i in range(6,26):
    lst += [ i ]

for i in range(26,31):
    lst += [ i**2 ]

print(lst)

In [ ]:
#Q=12 Write a Python function that takes a list and returns a new list with unique elements of the first list. 

def list(l):
    return set(l)

l1 = list(map(int, input().split()))
print('Old list :',list(l1))
print('New list :', list(list(l1)))

In [ ]:
#Q=13 Write a Python program to convert a list of characters into a string. 
l1=['k','r','u','p','a','l','i' 'p','a','t','e','l']
''.join(l1)

In [ ]:
#Q=14 Write a Python program to select an item randomly from a list.
import random
l1=['k','r','u','p','a','l','i']
print(random.choice(l1))

In [ ]:
#Q=15 Write a Python program to find the second smallest number in a list.

def find_len(l1):
    length = len(l1)
    list1.sort()
    print("Second Smallest element is:", l1[1])
l1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
print(min(l1))                                    #baki che thodu

In [ ]:
#Q=16 Write a Python program to get unique values from a list 
l1 = [10, 20, 30, 40, 20, 50, 60, 40]
print("Original List : ",l1)
l2 = set(l1)
list = list(l2)
print("List of unique numbers : ",list)

In [ ]:
#Q=17 Write a Python program to check whether a list contains a sub list

In [ ]:
#Q=18 Write a Python program to split a list into different variables.
a = 'krupali kishorbhai patel'
a.split()

In [ ]:
#Q=19 What is tuple? Difference between list and tuple. 

a tuple is a sequence of immutable python object  (tene run time par kyare change na kari sakay)
tuple ne change karvu hoi to list ma convet karvu pade then pachi tene updeted karay 
tuple ma multiple data type ni value store kari sakay
tuple pan index valueni uper j work kare che 
tuple ne ( ) round breaket ma j lakhay
and list ne [ ] squre breaket ma lakhay

In [ ]:
#Q=20  Write a Python program to create a tuple with different data types. 
t1=('krupali',100,True)
t1                    #true valu na lidhe run nathi thatu.

In [ ]:
#Q=21 Write a Python program to create a tuple with numbers. 
t1=('apple','orange','mango',1,2,3,4,5,6)
print("curent tuple:",t1)

In [ ]:
#Q=22 Write a Python program to convert a tuple to a string. 
t1=('k','r','u','p','a','l','i')
str=''.join(t1)
print(str)

In [ ]:
#Q=23  Write a Python program to check whether an element exists within a  tuple
t1 = ('k','r','u','p','a','l','i',1,'p','a','t','e','l')
print("r" in t1)
print(5 in t1)

In [ ]:
#Q=24 Write a Python program to find the length of a tuple. 

t1=('krupali','sonal','rushikesh','kaminiben','kishorbhai')
print(len(t1))

In [ ]:
#Q=25  Write a Python program to convert a list to a tuple.  
t1=('krupali','sonal','rushikesh',1,2,3,4,5)
x = tuple(t1)
print(x)

In [ ]:
#Q=26  Write a Python program to reverse a tuple. 

x = ('krupali patel')
y = reversed(x)
print(tuple(y))

In [ ]:
#Q=27  Write a Python program to replace last value of tuples in a list. 

lst = [(728,725,99), (1,2,3), (33,99,56)]

print([t[:-1] + (4,) for t in lst])

In [ ]:
#Q=28  Write a Python program to find the repeated items of a tuple
#create a tuple
t1 ='apple','orange','kiwi','apple','banana','apple'
print(t1)
#return the number of times it appears in the tuple.
count = t1.count('apple')
print(count)

In [ ]:
#Q=29  Write a Python program to remove an empty tuple(s) from a list of tuples.

lt = [('tiger'),(1,3,4),('sonal'),(),(),(),('parth'),()]
for seq in lt:
    if len(seq) == 0: lt.remove(seq)
print(lt)

In [ ]:
#Q=30  Write a Python program to unzip a list of tuples into individual lists. 
#create a tuple
l = [('krupa','kausu'), ('radha','krishn'), ('rushi','nirav')]
print(list(zip(*l)))

In [ ]:
#Q=31  Write a Python program to convert a list of tuples into a dictionary. 
#create a list
d1= {1:'apple',2:'mango',3:'orange',4:'apple'}
d = {}
for a, b in d1:
    d.setdefault(a, []).append(b)
print (d)

In [ ]:
#Q=32  How will you create a dictionary using tuples in python? 
l1={1:'krupali',2:'sonal',3:'rushikesh'}
d = dict(l1)
print(d)

In [ ]:
#Q=33  Write a Python script to sort (ascending and descending) a dictionary by value.

In [ ]:
#Q=34 Write a Python script to concatenate following dictionaries to create a new one. 
d1={'a':200,'b':300,'c':500}
d2={'d':400,'e':250,'f':350}
d3={'g':600,'h':750,'i':960}
d4={}
for d in (d1,d2,d3):
    d4.update(d)
print(d4)

In [ ]:
#Q=35 Write a Python script to check if a given key already exists in a dictionary. 
d1={1:'keupali',2:'sonal'}
if 1 in d1:
    print('this is execute')
else:
    print('this is not execute')

In [ ]:
#Q=36 How Do You Traverse Through A Dictionary Object In Python? 
There are two ways of iterating through a Python dictionary object. 
One is to fetch associated value for each key in keys() list. 
There is also items() method of dictionary object which returns list of tuples, 
each tuple having key and value.

In [ ]:
#Q=37  How Do You Check The Presence Of A Key In A Dictionary? 
d1={1:'keupali',2:'sonal'}
if 1 in d1:
    print('this is execute')
else:
    print('this is not execute')

In [ ]:
#Q=38  Write a Python script to print a dictionary where the keys are numbers between 1 and 15. 
#d1={1:2,2:220,3:22,4:78,5:99,6:90,7:27,8:28,9:33,10:12,11:90,12:89,13:112,14:29,15:35,16:45}

d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

In [ ]:
#Q=39  Write a Python program to check multiple keys exists in a dictionary

In [ ]:
#Q=40  Write a Python script to merge two Python dictionaries 


d1={'a':100 , 'b':200}
d2={'c':300 , 'd':400}
d3={}
d1.update(d2)
print(d1)

In [64]:
#Q=41 Write a Python program to map two lists into a dictionary 
t1=['red', 'green', 'blue']
t2=['krupali','sonal','rushikesh']
t3=dict(zip(t1,t2))
print(t3)

{'red': 'krupali', 'green': 'sonal', 'blue': 'rushikesh'}

In [69]:
#Q=42 Write a Python program to combine two dictionary adding values for
#common keys.
#o d1 = {'a': 100, 'b': 200, 'c':300} o d2 = {'a': 300, 'b':
#200,’d’:400}  

d1 = {'a': 100, 'b': 200, 'c':300} 
d2 = {'a': 300, 'b': 200, 'd':400}

for k,v in d2.items():
    if k in d1: 
        d1[k] = v + d1.get(k)
    else: d1[k] = v
print(d1)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [70]:
#Q=43 Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).


d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

{400, 300}

In [71]:
#Q=44 Write a Python program to print all unique values in a dictionary. 
d1 = {'a': 400, 'b': 400, 'c': 300, 'd': 400}
s = set()

for k,v in d1.items():
    s.add(v)
print(s)

{400, 300}

In [65]:
#Q=45 Why Do You Use the Zip () Method in Python?
# Write a Python program to create and display all combinations of letters,
# selecting each letter from a different key in a dictionary.
# o Sample data: {'1': ['a','b'], '2': ['c','d']} o Expected Output:
# o ac ad bc bd 

d1={1,2,3,4,5,6,7,8,9,10}
d2={11,12,13,14,15,16,17,18,19,20}
dic=list(zip(d1,d2))
print(dic)

[(1, 11), (2, 12), (3, 13), (4, 14), (5, 15), (6, 16), (7, 17), (8, 18), (9, 19), (10, 20)]

In [66]:
#Q=46 Write a Python program to find the highest 3 values in a dictionary  

d1={'a':678,'b':998,'c':1000,'d':888,'c':9000,'d':8990}
d2=(3,d1,key=d1.get)
print=(d2)
                            #syntex error

SyntaxError: invalid syntax (657329181.py, line 4)

In [68]:
#Q=47 Write a Python program to combine values in python list of dictionaries.

l1 = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}, 
      {'item': 'item3', 'amount': 750}]
dic = dict()
l2 = list()
l3 = list()

for seq in l1:
    for k,v in seq.items():
        if k == 'item': l2.append(v)            
        if k == 'amount': l3.append(v)

for _ in range(len(l2)):
    if l2[_] not in dic: dic[l2[_]] = l3[_]
    else: dic[l2[_]] = l3[_] + dic.get(l2[_])
print(dic)

{'item1': 1150, 'item2': 300, 'item3': 750}

In [1]:
#Q=48   Write a Python function to calculate the factorial of a number (anonnegative integer) 

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

n=5
print(factorial(n))

120

In [2]:
#Q=49 Write a Python function to check whether a number is in a given range 
def t_range(n):
    if n in range(10):
        print('is in the range:')
    else:
        print('is in not a range:')
t_range(5)

is in the range:

In [73]:
#Q=50  Write a Python function to check whether a number is perfect or not. 
def per_num(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(per_num(6))

True

In [4]:
#Q=51 Write a Python function that checks whether a passed string is palindrome or not
v =input ("enter the value check for palindrome:")

r=v[::-1]

if v == r:
    print('yes it is palindrome')
else:
    print('no it is not a palindrome')

enter the value check for palindrome:5
yes it is palindrome

In [ ]:
#Q=52  How do you perform pattern matching in Python? Explain 
  we can perform pattern matching using Regular Expressions in python.

In [5]:
#Q=53  What is lambda function in python? What we call a function which is incomplete version of a function?

# A lambda function is a small anonymous function. 
#    > A lambda function can take any number of arguments, but can only have one expression.
#    > We can call 'Stub function' which is imcomplete version of a function.

x = lambda a,b,*c : a + b + sum(c)
x(2,4,4,5,6)

21

In [ ]:
#Q=54 How Many Basic Types Of Functions Are Available In Python?
# There are 3 basic types of function in python.
#            1) Built-in functions : print(), min(), max() etc.
#            2) User difine functions : def fun():
#            3) Anonymous functions : lambda

In [10]:
#Q=55 How can you pick a random item from a list or tuple?

# > We can use choice method from random module.
import random as r
l=['khuyfgejhfdiukjsiljsodiljdkl']
r.choice(l)

'khuyfgejhfdiukjsiljsodiljdkl'

In [12]:
#Q=56 How can you pick a random item from a range?

#  We can use randrange() method to pick a item from a range.

print(r.randrange(100))

84

In [25]:
# #Q=57  How can you get a random number in python? > We can use randrange() method to pick a item from a range.

#  we can use the randrange() method to get a random number in python.

import random

print(random.randrange(1,20))

13

In [53]:
#Q=58 How will you set the starting value in generating random numbers?

import random

#name =['krupali','sonal','rushikesh','kaminiben']

print(random.randint(1,50))

42

In [ ]:
#Q=59  How will you randomizes the items of a list in place? 
shuffle (list)
this function randomly reorders the element the elements in a list

the function does not return . the shuffled list the  1st is shuffled in place

Tuple and string cannot be used with shuffle () as they are immutable

In [18]:
#Q=60 Write a Python program to read a random line from a file. 

f1 = open('text','r')
l = list()
for seq in f1:
    l.append(seq)
r.choice(l)

FileNotFoundError: [Errno 2] No such file or directory: 'r'

In [22]:
#Q=71 Write a Python program to calculate the area of a trapezoid 
a=int(input("enter a value for A:"))
b=int(input("enter a value forH B:"))
c=int(input("enter a value of hight H:"))
print("area of trapezoid is ",(a+b)*(H/2))

enter a value for A:8
enter a value forH B:9
enter a value of hight H:8

NameError: name 'H' is not defined

In [ ]:
#Q=72 Write a Python program to calculate the area of a parallelogram

In [ ]:
#Q=73  Write a Python program to calculate surface volume and area of a cylinder

In [ ]:
#Q=74 Write a Python program to returns sum of all divisors of a number

In [76]:
#Q=75 Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.

SyntaxError: invalid syntax (3831295468.py, line 2)